body {
    margin: 0;
    font-family: 'Times New Roman', sans-serif;
    font-size: 17px;
    text-align: center;
    background-color: rgb(242, 246, 248);
}
h1 {
    color: red;
}
.container {
    margin: 15px;
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: center;
}
.card {
    position: relative;
    flex: 1 1 150px;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.171);
    transition: transform 0.3s ease;
}
.card img {
    width: 100%;
    height: 230px;
    object-fit: cover;
    border-radius: 8px;
}
.card:hover {
    transform: scale(1.01);
}
h3 {
    font-style: italic;
}
.badge {
    position: absolute;
    top: 10px;
    right: 8px;
    padding: 4px;
    border: 1pt solid black;
    border-radius: 8px;
    color: white;
    font-weight: bold;
    font-style: italic;
    transform: rotate(10deg);
}
.rosso {
    background-color: rgb(235, 5, 5);
}
.verde {
    background-color: rgb(11, 184, 25);
}
.azzurro {
    background-color: rgb(5, 162, 235);
}
.effettoBarcolla:hover {
    animation: wobble 0.5s ease-in-out;
}
@keyframes wobble {
    0%   { transform: rotate(10deg); }
    25%  { transform: rotate(6deg); }
    50%  { transform: rotate(14deg); }
    75%  { transform: rotate(8deg); }
    100% { transform: rotate(10deg); }
}
.effettoPop:hover {
    animation: pop 0.5s ease-in-out;
}
@keyframes pop {
    0% { transform: scale(1); }
    50% { transform: scale(1.2); }
    100% { transform: scale(1); }
}
.effettoTaglia:hover {
    animation: shake 0.7s ease-in-out;
}
@keyframes shake {
    0%, 100% { transform: translateX(0); }
    20% { transform: translateX(-3px); }
    40% { transform: translateX(3px); }
    60% { transform: translateX(-3px); }
    80% { transform: translateX(3px); }
}
.prezzo {
    margin-top: 3px;
    font-style: italic;
}
a:hover {
    font-weight: bold;
    color: red;
}
footer {
    padding: 3px;
    background-color: rgb(63, 176, 224);
    font-weight: bold;
    color: white;
}
@media (min-width:768px) {
    .container {
        margin: 30px;
        gap: 35px;
    }
    .card {
        flex: 0 1 350px;
        padding: 20px;
    }
    .card:hover {
        transform: scale(1.03);
    }
    .card img {
        width: 100%;
        height: 400px;
    }
    .scritta {
        top: 12px;
        right: 12px;
        padding: 6px;
        font-size: 18px;
    }
    .prezzo {
        font-size: 18px;
    }
    footer {
        padding: 5px;
    }
}
@media (min-width: 2560px) {
    body {
        font-size: 20px;
    }
}
/* Gli effetti gli ho fatti con l'aiuto di chat GPT, il resto è codice preso dall'originale (giorno 17) o fatto nuovo da sola. */