/* body {
    margin: 0;
    font-family: 'Times New Roman', sans-serif;
    background-color: rgb(242, 246, 248);
    text-align: center;
    font-size: 16px;
}
h1 {
    color:red;
}
p {
    font-size: 17px;
}
.container {
    margin: 30px;
    display: flex;
    flex-wrap: wrap;
    gap: 35px;
    justify-content: center;
}
.card {
    position: relative;
    flex: 0 1 350px;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.212);
    transition: transform 0.3s ease;
}
.card:hover {
    transform: scale(1.03);
}
.scritta {
    position: absolute;
    top: 10px;
    right: 10px;
    border: 1pt black solid;
    border-radius: 8px;
    padding: 6px;
    color: white;
    font-weight: bold;
    font-style: italic;
    font-size: 17px;
}
.prezzo {
    margin-top: 5px;
    font-style: italic;
    font-size: 17px;
}
img {
    width: 100%;
    height: 400px;
    object-fit: cover;
    border-radius: 8px;
}
.rosso {
    background-color: rgb(235, 5, 5);
}
.verde {
    background-color: rgb(11, 184, 25);
}
.azzurro {
    background-color: rgb(5, 162, 235);
}
a:hover {
    font-weight: bold;
    color: red;
} */
body {
    margin: 0;
    font-family: 'Times New Roman', sans-serif;
    background-color: rgb(242, 246, 248);
    text-align: center;
    font-size: 16px;
}
h1 {
    color: red;
}
p {
    font-size: 17px;
}
.container {
    margin: 30px;
    display: flex;
    flex-wrap: wrap;
    gap: 35px;
    justify-content: center;
}
.card {
    position: relative;
    flex: 0 1 350px;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.212);
    transition: transform 0.3s ease;
}
.card:hover {
    transform: scale(1.03);
}
.img-container {
    width: 100%;
    aspect-ratio: 1 / 1; /* formato quadrato */
    overflow: hidden;
    border-radius: 8px;
    margin-bottom: 10px;
}
.img-container img {
    width: 92%;
    height: 100%;
    object-fit: cover;
}
.scritta {
    position: absolute;
    top: 10px;
    right: 10px;
    border: 1pt black solid;
    border-radius: 8px;
    padding: 6px;
    color: white;
    font-weight: bold;
    font-style: italic;
    font-size: 17px;
}
.prezzo {
    margin-top: 5px;
    font-style: italic;
    font-size: 17px;
}
.rosso {
    background-color: rgb(235, 5, 5);
}
.verde {
    background-color: rgb(11, 184, 25);
}
.azzurro {
    background-color: rgb(5, 162, 235);
}
a:hover {
    font-weight: bold;
    color: red;
}
